<div ng-controller="NavCtrl as nav">
  <ul>
    <li ng-hide="nav.signedIn()"><a href="#" ui-sref="welcome.signin">Log In</a></li>
    <li ng-hide="nav.signedIn()"><a href="#" ui-sref="welcome.signup">Register</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'admin'"><a href="#" ui-sref="admin">Inventory Calendar</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'admin'"><a href="#" ui-sref="admin.users">Staff Management</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'admin'"><a href="#" ui-sref="admin.analytics">Analylics</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'admin'"><a href="#" ui-sref="admin.swaps">Swaps</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'admin'"><a href="#" ui-sref="admin.import">Update Inventory</a></li>
    <li ng-if="nav.signedIn() && nav.role == 'user'"><a href="#" ui-sref="users({name: nav.current_user.name})">Your Calendar</a></li>
    <li ng-if="nav.signedIn() && (nav.role == 'admin' || nav.role == 'user')"><a href="#" ui-sref="inventory">Main Inventory</a></li>
    <li ng-if="nav.signedIn() && (nav.role == 'admin' || nav.role == 'user')"><a href="#" ui-sref="inventory.delivered">Delivery History</a></li>
    <li ng-if="nav.signedIn()"><a ng-click="nav.logout()">Log Out</a></li>
  </ul>
</div>
