<h1>I'm the Main Admin page</h1>
<a href="#" ui-sref="admin.users">I'm a link to Users for approval and removal</a><br>
<a href="#" ui-sref="admin.analytics">I'm a link to Dealer Analytics</a><br>
<a href="#" ui-sref="admin.swaps">I'm a link to Swap Page</a><br>
<a href="#" ui-sref="admin.import">I'm a link to Import Page</a><br>
<div ui-view>
<p>I have a CENTRALIZED calendar that shows me the statuses of all the vehicles that ANYONE has touched which have unresolved statuses. If not a calendar I could be a list of vehicles with unresolved statuses. Oldest at the top.</p>
</div>