<h1>I'm the Main Admin page</h1>
<admin-nav></admin-nav>
<div ui-view>
<p>I have a CENTRALIZED calendar that shows me the statuses of all the vehicles that ANYONE has touched which have unresolved statuses. If not a calendar I could be a list of vehicles with unresolved statuses. Oldest at the top.</p>
</div>