<div ui-view>
<h1>Delivered Vehicles</h1>
<p>This will be a inventory of delivered vehicles. Layout the same as regualr inventory</p>
<p>This data is kept to avoid accidently deleting vehicles and to draw data reports from for the analytics page</p>
<p>each vehicle here needs a button that will take the vehicle out of the delivered list and put it back to available in case an employee mark a vehicle delivered by mistake.</p>
</div>