<h1>Import page</h1>
<p>I'm only for admins</p>
<h3>I have an option for importing batch which is currently a CSV upload like this(but i hope to change it to use angular rather than rails(may need to keep this in the long run because FMC probably doesn't track used cars)</h3>

<p>I should be a form that sends CSV file to the vehicle model in rails, unless i can find a way to do this with angular</p>

<h3>But really FOR NEW CARS I should be an api call to FMC dealer which runs automatically everyday at midnight or a button to click:</h3>
<button>CALL FORD!</button><br>

<h3>for requiring a VIN use angular validation
(look at validation in vehicle model in rails for VIN uniqiness to call an update instead)</h3>

<h3>Add Vehicle</h3>
  <form ng-submit="ctrl.addVehicle()">
    <div ng-include="'_vehicle_form.html'"></div>
  </form>
<br>
<br>
