<h1>Import page</h1>
<!-- <h3>I have an option for importing batch which is currently a CSV upload like this(but i hope to change it to use angular rather than rails(may need to keep this in the long run because FMC probably doesn't track used cars)</h3> -->

<div style='float: left;'>
<h3>Add Vehicle</h3>
  <form name='ctrl.addVehicleForm' ng-submit="ctrl.addVehicle()">
    <div ng-include="'_vehicle_form.html'"></div>
  </form>

  <h1 ng-if="ctrl.addVehicleForm.VIN.$touched && ctrl.addVehicleForm.VIN.$error.required">VIN is required!</h1>
  <h1 ng-if="ctrl.addVehicleForm.stock_no.$touched && ctrl.addVehicleForm.stock_no.$error.required">Stock is required!</h1>
  <h1 ng-if="ctrl.addVehicleForm.year.$error.maxlength">Max characters for color 47</h1>
</div>

<div style='width: 70%; border-style: '>
<p>I will be a form that sends a CSV file to the vehicle model in rails</p>

<h3>However FOR NEW CARS I should be an api call to the FMC dealer api 
which runs automatically everyday at midnight or a button to click:</h3>
<button>CALL FORD!</button><br> <!-- <----  --><!-- need propriatary access -->
</div>

<!-- need to think about how to tell reails to run update if the VIN validation fails -->

