<div ui-view>
<h1>I'm the Inventory Index page</h1>
<ul>
<form>
  <label for="additional_filters">Optional Filters</label>
    <select name='additional_filters' ng-model='dropdown.value' ng-init="dropdown.value='all'">
      <option value="all">All</option>
      <option value="New">New</option>
      <option value="Used">Used</option>
      <option value="moonroof">Options: Sunroof/Moonroof</option>


    </select>
</form>
{{dropdownvalue}}
<br>
  Search Filtered List: <input ng-model="ctrl.search" />
  <li ng-repeat="vehicle in ctrl.vehicles | filter: ctrl.search | inventoryDropdownFilter: dropdown.value">
      <stock-card
      year="vehicle.year",
      make="vehicle.make",
      model="vehicle.model",
      color="vehicle.color",
      msrp="vehicle.msrp",
      stock="vehicle.stock_no",
      vin="vehicle.VIN",
      id="vehicle.id",
      neworused ="vehicle.new_or_used",
      odometer= "vehicle.odometer",
      options= "vehicle.options",
      dealerprice= "vehicle.dealer_price">
      </stock-card>
  </li>
</ul>
<!-- this ui-sref here is a method that makes a api call
or is the api call made after following the link? -->
</div>

