<div ui-view>
<h1>I'm the Inventory Index page</h1>
<ul>
  <li ng-repeat="vehicle in ctrl.vehicles">
      <vehicle-card
      year="vehicle.year",
      make="vehicle.make",
      model="vehicle.model",
      color="vehicle.color",
      msrp="vehicle.msrp",
      stock="vehicle.stock_no",
      vin="vehicle.VIN",
      id="vehicle.id">
      </vehicle-card>
  </li>
</ul>
<!-- this ui-sref here is a method that makes a api call
or is the api call made after following the link? -->
</div>