<h1>I'm the SignUp page</h1>

<p>I'll be a signup form</p>

<a href="#" ui-sref="welcome.signin">Already registered? Click here to go back to the sign in page</a>

<p><%="Erb works here" if true %> </p>