<h1>Analytics page</h1>
<p>I'm only for admins</p>
<p>Total Vehicles, Vehicles sold this month, Sold this year, Cars in F and I, Percentage of forecast, pacing to forecast(graph?), count of each make ect</p>
