<h1>Analytics page</h1>

<p>Develop and Include:</p>
<ul>
  <li>Total Vehicles</li>
  <li>Vehicles sold this month</li>
  <li>Sold this year<li>
  <li>list of vehicles in F and I</li>
  <li>Percentage of forecast for each vehicle type</li>
  <li>pacing to forecast(graph?)</li>
  <li>count of each model in inventory</li>
</ul>
