<h1>Swaps page</h1>
<p>I'm only for admins. I show other nearby dealerships inventory's for possible trade</p>
<p>I should also be populated through api calls to FMC however i could also be populated by other dealerships who use our software to show cars that WANT to trade away</p>

<table>
<caption>Ritar Ford</caption>
<tr>
<th>Vehicle</th>
<th>VIN</th>
</tr>
<tr>
<td>2016 Ford Fusion</td>
<td>17LFBB354Z1234</td>
</tr>
<tr>
<td>2016 Ford Focus</td>
<td>156LSH659Z1506</td>
</tr>
</table>

<br>

<table>
<caption>Rye Ford</caption>
<tr>
<th>Vehicle</th>
<th>VIN</th>
</tr>
<tr>
<td>2016 Ford Explorer</td>
<td>13LHJB384Z8765</td>
</tr>
<tr>
<td>2016 Ford Escape</td>
<td>763LBH959Z1446</td>
</tr>
</table>