<h1>Users Index page</h1>
<p>I'm only for admins. This is where users are approved or removed. Not sure how to do this yet.</p>

<ul>
  <li ng-repeat="user in ctrl.user_list.users"><a href="#" ui-sref="users({ name: user.name })">{{user.name}}</a> {{user.role}} <br> buttons for editing user role</li>
<ul>