<h1>I am the detailed vehicle show page.  I have tabs, details, notes, invoice </h1>


<tabs>
    <tab label='Vehicle Details'>
        <p>{{ctrl.vehicle_data.vehicle}}</p>
        <div ng-controller='NoteController as noteCtrl'>
            <ul>
                <li ng-repeat="note in ctrl.vehicle_data.vehicle.notes">
                    {{note.user}} on {{note.created_at}}: {{note.content}} 
                    <button ng-if="session.userrole === 'admin'" ng-click="noteCtrl.removeNote(note)">for delete button</button></span>
                </li>
            </ul>

            <h1>Add note</h1>
            <form validate ng-submit="noteCtrl.addNote()">
                <label>Content</label>
                <input type="text" ng-model="noteCtrl.note.content">
                <input type="submit" value="Add Note">
            </form>
        </div>

    </tab>
    <tab label='Invoice'>
        <p>invoice</p>
    </tab>
</tabs>
