<h1>I am the detailed vehicle show page.  I have tabs, details, notes, invoice </h1>


<tabs>
    <tab label='Vehicle Details'>
        <p>{{ctrl.vehicle_data.vehicle}}</p>
        <li ng-if="nav.signedIn() && nav.userrole == 'admin'"><a href="#" ui-sref="admin.users">edit this vehicle</a></li>
    </tab>
    <tab label='Notes'>
        <p>{{ctrl.vehicle_data.vehicle.notes}}</p>
    </tab>
    <tab label='Invoice'>
        <p>invoice</p>
    </tab>
</tabs>