<tabs>
    <tab label='Vehicle Details'>
        <div style="float:left; width:45%;"> <!-- temp. to be addressed with bootstrap -->
            <h2>{{ctrl.vehicle.year}} {{ctrl.vehicle.make}} {{ctrl.vehicle.model}}</h2>
            <h4>{{ctrl.vehicle.color}}</h4>
            <p>Ownership: {{ctrl.vehicle.new_or_used}}</p>
            <p>MSRP: {{ctrl.vehicle.msrp}}</p>
            <p>Asking: {{ctrl.vehicle.dealer_price}}</p>
            <p>Vehicle is: {{ctrl.vehicle.status.vehicle_status}}</p>
            <p>VIN: {{ctrl.vehicle.VIN}}</p>
            <p>Stock Number: {{ctrl.vehicle.stock_no}}</p>
            <p>Engine: {{ctrl.vehicle.engine}}</p>
            <p>{{ctrl.vehicle.body_type}} {{ctrl.vehicle.drive_train}} {{ctrl.vehicle.fuel}}</p>
            <p>Location: {{ctrl.vehicle.storage}}</p>
            <p>Options: {{ctrl.vehicle.options}}</p>
        </div>

        <div style="float:right; width:45%; text-align: left;"> <!-- temp. to be addressed with bootstrap -->

            <div style="border:1px solid black; margin: 5px; padding: 20px;" ng-controller="StatusController as statusCtrl">
                <h3>Current Vehicle Status: {{ctrl.vehicle.status.vehicle_status}}</h3>
                <h4>Status Applied by: {{ctrl.vehicle.status.user}}</h4>
                <h5>Change Status:</h5>
                <form ng-submit="statusCtrl.changeStatus()">
                    Available       <input type="radio" ng-model="statusCtrl.status.vehicle_status" value="Available"><br>
                    On Test Drive   <input type="radio" ng-model="statusCtrl.status.vehicle_status" value="Testdrive"><br>
                    Sent to F and I <input type="radio" ng-model="statusCtrl.status.vehicle_status" value="FandI"><br>
                    Sold            <input type="radio" ng-model="statusCtrl.status.vehicle_status" value="Sold"><br><br>
                    <input type="submit" value="Change Status">
                </form>
                <div ng-if='ctrl.vehicle.status.vehicle_status === "Sold"'>
                    <h4>I will only show if vehicle status is sold</h4>
                    <p>This vehicle has been marked sold. Has it been delivered?</p>
                    <p>if you click me, the vehicle will be moved to the delivered list and sold status will be removed from calendars</p>
                    <button>delivered?</button>
                </div>
            </div>


            <div style="border:1px solid black; margin: 5px; padding: 20px;" ng-controller='NoteController as noteCtrl'>
                <h3>Add note</h3>
                <form ng-submit="noteCtrl.addNote()">
                    <label>Content</label><br>
                    <input type="text" ng-model="noteCtrl.note.content">
                    <input type="submit" value="Add Note">
                </form>
                <h3>Most Recent activity:</h3>
                <p ng-repeat="note in ctrl.vehicle.notes | orderBy: '-created_at' | limitTo: 3">
                    {{note.user}} on {{note.created_at | date}}: <br>{{note.content}}<br>
                    <button ng-if="session.userrole === 'admin'" ng-click="noteCtrl.removeNote(note)">delete button</button></span>
                </p>
            </div>
        </div>
    </tab>

    <tab label='Activity Log'>
    <h2>{{ctrl.vehicle.year}} {{ctrl.vehicle.make}} {{ctrl.vehicle.model}}</h2>
    <p>Stock Number: {{ctrl.vehicle.stock_no}}</p><br>
        <div ng-controller='NoteController as noteCtrl'>
            <h3>Add note</h3>
            <form ng-submit="noteCtrl.addNote()"> <!-- might want to make at least this form into a partial and use ng-include since im repeating my self here. -->
                <label>Content</label><br>
                <input type="text" ng-model="noteCtrl.note.content">
                <input type="submit" value="Add Note">
            </form>
            <p ng-repeat="note in ctrl.vehicle.notes | orderBy: '-created_at'">
            {{note.user}} on {{note.created_at | date}}: <br>{{note.content}}<br>
            <button ng-if="session.userrole === 'admin'" ng-click="noteCtrl.removeNote(note)">delete button</button></span>
            </p>
        </div>
    </tab>


    <tab label='Invoice'>
        <div ng-if="ctrl.vehicle.invoice !== 'original/default_missing_invoice.png'"><img src={{ctrl.vehicle.invoice}} alt="Invoice" height="906" width="700"></div>
        <div ng-if="ctrl.vehicle.invoice === 'original/default_missing_invoice.png'"><h1>Invoice not attached</h1></div>
        <!-- need options for printing. -->
    </tab>

    <tab ng-if="session.userrole === 'admin'" label='Edit Vehicle'>
        <h2>{{ctrl.vehicle.year}} {{ctrl.vehicle.make}} {{ctrl.vehicle.model}}</h2>
        <p>Stock Number: {{ctrl.vehicle.stock_no}}</p>
        <form name='ctrl.updateVehicleForm' ng-submit="ctrl.updateVehicle()">
            <div ng-include="'_vehicle_form.html'"></div>
        </form>

        <h1 ng-if="ctrl.updateVehicleForm.VIN.$touched && ctrl.updateVehicleForm.VIN.$error.required">VIN is required!</h1>
        <h1 ng-if="ctrl.updateVehicleForm.stock_no.$touched && ctrl.updateVehicleForm.stock_no.$error.required">Stock Number is required!</h1>
        <h1 ng-if="ctrl.updateVehicleForm.year.$error.maxlength">Max characters for color 47</h1>
    </tab>

</tabs>
