<h1>I'm the Welcome page I should be the first page seen</h1>

<div ui-view>

<a href="#" ui-sref="welcome.signin">I'll be a link to sign in</a><br>
<a href="#" ui-sref="welcome.signup">I'll be a link to register new</a>

</div>