// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#first_row{
  background: #666666;
}

#first_row #first_col{
  padding-top: 75px;
  background: gray;
  height: 100%;
  z-index: 1;
  position: fixed;
}

#first_row #second_col{
  text-align: right;
  padding: 5px 100px 0 0;
  background: #888888;
  width: 100%;
  height: 30px;
  z-index: 2;
  position: fixed;
}

#second_row{
  margin-top: 25px;
  background: blue;
}

#third_row{
  background: black;
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.vehicle_card{
  border:1px solid black;
  margin: 10px 0 5px 0;
  padding: 5px 0 0 10px;
  background: white;
  width: 75%;
  height: 263px;

}

.card_header h4{display: inline;}
.card_header h5{display: inline;}

.car_picture{
  margin: 5px;
  width: 100px;
  height: 100px;
  background: gray;
}

/*can i maybe use bootstrap to seperate the card into three columns?*/

.vehicle_card .card_section{
    display: inline-block;
    width: 30%;
    height: 258px;
    vertical-align: top;
    overflow: hidden;
}




#test_drive{
  background: green;
}

#sold{
  background: red;
}

#FandI {
  background: yellow;
}

.message {
  color: red;
}

ul{
  list-style-type: none
}