<!DOCTYPE html>
<html>
<head>
  <title>EZI</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>

<div ng-controller="SessionController as session">
  <div class='col-sm-2' id='leftsidebar'>
    <h2 id='logotype'><i>EZI</i></h2>
    <div ng-if="session.userrole === 'admin'" ng-include="'_admin_nav.html'"></div>
    <div ng-if="session.userrole === 'user'" ng-include="'_user_nav.html'"></div>

    <ul>
      <li ng-hide="session.signedIn()"><a href="#" ui-sref="welcome.signin">Log In</a></li>
      <li ng-hide="session.signedIn()"><a href="#" ui-sref="welcome.signup">Register</a></li>
      <li ng-show="session.signedIn()"><a href="#" ng-click="session.logout()">Log Out</a></li>
    </ul>

  </div>
  <div class='col-sm-10' style='float: right'>
    <ui-view></ui-view>
  </div>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
